<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Color0</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>Color1</key>
	<array>
		<real>0.87749642133712769</real>
		<real>0.39214602112770081</real>
		<real>0.53769022226333618</real>
		<real>1</real>
	</array>
	<key>Colors</key>
	<array>
		<array>
			<integer>219</integer>
			<integer>22</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>238</integer>
			<integer>85</integer>
			<integer>9</integer>
		</array>
		<array>
			<integer>118</integer>
			<integer>66</integer>
			<integer>36</integer>
		</array>
		<array>
			<integer>201</integer>
			<integer>122</integer>
			<integer>69</integer>
		</array>
		<array>
			<integer>239</integer>
			<integer>198</integer>
			<integer>159</integer>
		</array>
		<array>
			<integer>241</integer>
			<integer>155</integer>
			<integer>26</integer>
		</array>
		<array>
			<integer>247</integer>
			<integer>194</integer>
			<integer>23</integer>
		</array>
		<array>
			<integer>242</integer>
			<integer>231</integer>
			<integer>81</integer>
		</array>
		<array>
			<integer>207</integer>
			<integer>220</integer>
			<integer>23</integer>
		</array>
		<array>
			<integer>175</integer>
			<integer>210</integer>
			<integer>69</integer>
		</array>
		<array>
			<integer>80</integer>
			<integer>155</integer>
			<integer>52</integer>
		</array>
		<array>
			<integer>9</integer>
			<integer>98</integer>
			<integer>13</integer>
		</array>
		<array>
			<integer>151</integer>
			<integer>202</integer>
			<integer>202</integer>
		</array>
		<array>
			<integer>120</integer>
			<integer>178</integer>
			<integer>217</integer>
		</array>
		<array>
			<integer>59</integer>
			<integer>140</integer>
			<integer>207</integer>
		</array>
		<array>
			<integer>46</integer>
			<integer>92</integer>
			<integer>191</integer>
		</array>
		<array>
			<integer>15</integer>
			<integer>50</integer>
			<integer>144</integer>
		</array>
		<array>
			<integer>100</integer>
			<integer>23</integer>
			<integer>186</integer>
		</array>
		<array>
			<integer>168</integer>
			<integer>72</integer>
			<integer>235</integer>
		</array>
		<array>
			<integer>193</integer>
			<integer>106</integer>
			<integer>231</integer>
		</array>
		<array>
			<integer>177</integer>
			<integer>66</integer>
			<integer>151</integer>
		</array>
		<array>
			<integer>224</integer>
			<integer>94</integer>
			<integer>133</integer>
		</array>
		<array>
			<integer>235</integer>
			<integer>126</integer>
			<integer>155</integer>
		</array>
		<array>
			<integer>255</integer>
			<integer>197</integer>
			<integer>209</integer>
		</array>
		<array>
			<integer>164</integer>
			<integer>8</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<array>
			<integer>242</integer>
			<integer>238</integer>
			<integer>231</integer>
		</array>
		<array>
			<integer>192</integer>
			<integer>192</integer>
			<integer>192</integer>
		</array>
		<array>
			<integer>128</integer>
			<integer>128</integer>
			<integer>128</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</array>
	<key>LayerIndex</key>
	<integer>2</integer>
	<key>Layers</key>
	<array>
		<dict>
			<key>AlphaLocked</key>
			<false/>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~0.png</string>
			<key>Hidden</key>
			<false/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>AlphaLocked</key>
			<false/>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~1.png</string>
			<key>Hidden</key>
			<false/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>AlphaLocked</key>
			<false/>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~2.png</string>
			<key>Hidden</key>
			<false/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
	</array>
	<key>Orientation</key>
	<integer>1</integer>
	<key>Paper</key>
	<string>Pressgrain</string>
	<key>PaperColor</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>Version</key>
	<string>1.0</string>
	<key>penbrush</key>
	<integer>2</integer>
</dict>
</plist>
