@charset "UTF-8";

@font-face {
  font-family: "XCharter";
  src: url("XCharter-Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "XCharter";
  src: url("XCharter-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "XCharter";
  src: url("XCharter-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
