#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	sbcl --load setup.lisp --eval "(sb-ext:quit)" || true
	./ocicl collect-licenses >VENDORED-LICENSES.txt

override_dh_auto_install:
	mkdir -p debian/ocicl/usr/bin
	mkdir -p debian/ocicl/usr/share/doc/ocicl
	install -m 0755 ocicl debian/ocicl/usr/bin/
	cp VENDORED-LICENSES.txt debian/ocicl/usr/share/doc/ocicl/

override_dh_auto_clean:
	rm -f ocicl
	rm -f VENDORED-LICENSES.txt
	dh_auto_clean
