.reveal {
    font-size: 30px;
}

.reveal .slides {
    text-align: left;
}

.reveal h1,
.reveal h2,
.reveal h3 {
    text-align: center;
}

.reveal figure {
    text-align: center;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal pre {
    background: white;
}

.reveal code {
    font-size: 70%;
}
